<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/refrigerator_in.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/recipe.css}" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@200&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script th:inline="javascript">
  		$(document).ready(function memCheck(){
  			var memRole = [[${member.role}]];
  				if(memRole!='ADMIN'){
  					$('.mypage_form').css('height','160px');
  				}
          $('.w-nav-link').eq(0).css({'color':'black','font-weight':'bolder'});
  		});
  </script>
  <title>냉장고 속 레시피</title>

</head>
<body class="body">
<div th:replace="fragments/gnb::navi"></div>
<div layout:fragment="content"></div>
<div layout:fragment="mask"></div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script layout:fragment="javascript">
</script>


</body>
</html>