<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/cookBoardDetail}">
	  
<div layout:fragment="content">
<div id="writingContainer">
	<div th:if="${cookDetailViewDTO.cookBoard.delcheck.toString()}=='Y'">
		삭제된 게시물입니다.
	</div>
	<div th:if="${cookDetailViewDTO.cookBoard.delcheck.toString()}!='Y'">
		<img th:src="@{/img/notify3.png}" th:if="${cookDetailViewDTO.cookBoard.member.id}!=${member.id}" onclick="notifyingMain()" width="50px" height="50px" id="notifyButton">
		
		<div class="buttonContainer" th:if="${member.name.toString()}!='guest'">
			<button type="button" class="reButton" th:if="${cookDetailViewDTO.cookBoard.member.id}==${member.id}" th:onclick="|location.href='@{/cookBoard/rewrite(writingId=${cookDetailViewDTO.cookBoard.writingid})}'|">수정</button>
			<button type="button" class="delButton" th:if="${cookDetailViewDTO.cookBoard.member.id}==${member.id}" th:onclick="|location.href='@{/cookBoard/CookBoardDetail/delete(writingId=${cookDetailViewDTO.cookBoard.writingid})}'|">삭제</button>
		</div>
		<table class="titleBox" style="border: none;">
			<tr style="border: none;">
				<td style="text-align: center; border: none;">
					<h1 th:text="${cookDetailViewDTO.cookBoard.title}"></h1>
				</td>
			</tr>
			<tr style="border: none;">
				<td style="text-align: center; border: none;" class="seenAndRecom">
					<div class="nick" th:text="${cookDetailViewDTO.cookBoard.member.nickname}"></div>
					<div class="seenCount" th:text="' | '+'조회수 : '+${cookDetailViewDTO.cookBoard.seencount}+' | '"></div>
					<div class="recomCount" th:text="'추천수 : '+${cookDetailViewDTO.cookBoard.recomcount}+' | '" th:value="${cookDetailViewDTO.cookBoard.recomcount}"></div>
					<img th:if="${member.name.toString()}!='guest'" th:src="@{/img/goodJob.png}" onclick="recomFunc()" id="goodJob" width="30px" height="30px">
					<div class="regDate" th:text="' | '+${#temporals.format(cookDetailViewDTO.cookBoard.regdate,'yyyy-MM-dd HH:mm')}"></div>
				</td>
			</tr>
		</table>
		
		<div class="contentBox">
		<div class="content"></div>
		</div>
		
		<div class="commentBox">
		<table style="border: none;">
			<tr th:each="comment,i : ${cookDetailViewDTO.cookComment}" class="commentTr" style=" border:none; border-bottom: 1px solid silver;">
				<td th:text="${comment.member.nickname}" th:class="'comment'+${i.count}+'memNick comm nickName'" width="250px" style="border: none;"></td>
				<td th:text="${comment.content}" th:class="'comment'+${i.count}+'content comm commentContent'" width="1015px" style="border: none;"></td>
				<td th:text="${#temporals.format(comment.regDate,'yyyy-MM-dd HH:mm')}" class="comm comReg" style="border: none;"></td>
				<td th:if="${comment.member.id}==${member.id}" style="border: none;"><button type="button" onclick="reComment(this.value)" th:value="'comment'+${i.count}" class="commentExtra" >수정</button>/</td>
				<td th:if="${comment.member.id}==${member.id}" style="border: none;"><button type="button" onclick="delFunc(this.value)" th:value="'comment'+${i.count}" class="commentExtra">삭제</button></td>
				<td th:if="${comment.member.id}!=${member.id}" ><button type="button" onclick="notifyingComment(this.value)" th:value="'comment'+${i.count}" class="commentExtra commentNotifying" style="border: none;">신고</button></td>
				<td style="display: none;"><input type="hidden" th:value="${comment.commentid}" th:id="'comment'+${i.count}"></td>
				<td style="display: none;"><input type="hidden" th:value="${comment.member.email}" th:class="'comment'+${i.count}+'memMail'"></td>
			</tr>
		</table>
		
		<div th:with="start=${(cookDetailViewDTO.cookComment.number/maxPage)*maxPage + 1}, end=(${(cookDetailViewDTO.cookComment.totalPages == 0) ? 1 : (start + (maxPage - 1) < cookDetailViewDTO.cookComment.totalPages ? start + (maxPage - 1) : cookDetailViewDTO.cookComment.totalPages)})" style=" display: inline-block; width: 98%; text-align: center;">
			<ul class="pagination justify-content-center">

				<li class="page-item" th:classappend="${cookDetailViewDTO.cookComment.number eq 0}?'disabled':''">
					<a th:href="@{'/cookBoard/CookBoardDetail' + '?writingId='+ ${writingId} + '&page=' + ${(cookDetailViewDTO.cookComment.number-1)>-1? cookDetailViewDTO.cookComment.number-1:0}}" aria-label='Previous' class="page-link">
						<span aria-hidden='true'><</span>
					</a>
				</li>

				<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${cookDetailViewDTO.cookComment.number eq page-1}?'active':''">
					<a th:inline="text" th:href="@{'/cookBoard/CookBoardDetail' + '?writingId='+ ${writingId} + '&page=' + ${page-1}}" class="page-link">[[${page}]]</a>
				</li>

				<li class="page-item" th:classappend="${cookDetailViewDTO.cookComment.number+1 ge cookDetailViewDTO.cookComment.totalPages}?'disabled':''">
					<a th:href="@{'/cookBoard/CookBoardDetail' + '?writingId='+ ${writingId} + '&page=' + ${(cookDetailViewDTO.cookComment.number+1)==(cookDetailViewDTO.cookComment.totalPages)? cookDetailViewDTO.cookComment.totalPages-1 : cookDetailViewDTO.cookComment.number+1 }}" aria-label='Next' class="page-link">
						<span aria-hidden='true'>></span>
					</a>
				</li>


			</ul>
		</div>
		
		</div>
		
			
			<textarea id="commentInput" name="content" th:if="${member.name.toString()}=='guest'" placeholder="로그인 후 입력해주세요" readonly="readonly"></textarea>
			<textarea id="commentInput" name="content"  th:if="${member.name.toString()}!='guest'" onkeypress="enter()"></textarea>
			<button type="button" id="commentButton" onclick="commentSend()">댓글 입력</button>
			<button type="button" class="backButton" onclick="location.href='/cookBoard/';">목록으로</button>
			
		<form th:action="@{/Notifying}" method="post" th:object="${notifyingDTO}" target="notifyingPopUp" id="notifying" style="display: none;">
			<input type="hidden" name="title" id="notifiedTitle">
			<input type="hidden" name="content" id="notifiedContent">
			<input type="hidden" name="writingId" id="notifiedWritingId">
			<input type="hidden" name="commentId" id="notifiedCommentId">
			<input type="hidden" name="memMail" id="notifiedMemMail">
			<input type="hidden" name="memNick" id="notifiedMemNick">
			<input type="hidden" name="boardId" id="notifiedBoardId">
		</form>

	</div>	
</div>
<div style="height: 100px;">
    
</div>		
</div>
</html>