<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Sign Up</title>
    <link href="/css/member/create.css" rel="stylesheet" type="text/css" />
</head>

<body>
<img th:src="@{/img/logo_black.png}" onclick="location.href='/';" class="logo"/>
<div class="container" id="container">
    <!-- FORM SECTION -->
    <form action="/member/new" method="post" role="form" th:object="${memberDto}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <div class="row">
            <!-- SIGN UP -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">
                        <div class="input-group">
                            <input id="inputName" oninput="validateName()" placeholder=" " th:field="*{name}"
                                   type="text">
                            <label for="inputName">이름</label>
                            <span id="validateName"></span>
                        </div>
                        <div class="input-group">
                            <input id="email" oninput="validateEmail()" placeholder=" " th:field="*{email}"
                                   type="email">
                            <label for="email">이메일</label>
                            <span id="validEmail"></span>
                        </div>
                        <div class="input-group">
                            <input id="nickname" name="nickname" oninput="validateNickname()" placeholder=" "
                                   th:field="*{nickname}" type="text">
                            <label for="nickname">닉네임</label>
                            <span id="validNickname"></span>
                        </div>
                        <div class="input-group" >
                            <input id="phoneNum" name="phoneNum" placeholder=" " th:field="*{phoneNum}" type="text">
                            <label for="phoneNum">핸드폰 번호('-'없이 입력)</label>
                            <a id="sendPhoneBtn" type="button" class="button-search">
                                <img th:src="@{/img/find/search.png}" alt="이미지" class="btnImg">
                            </a>
                            <span id="checkPhoneNum"></span>
                        </div>
                        <div class="input-group" id="authPhoneNum" style="display:none">
                            <input id="checkInput" placeholder=" " type="text">
                            <label for="checkInput">인증번호</label>
                            <a id="confirmBtn" type="button" class="button-search confirm">
                                <img th:src="@{/img/find/check.png}" alt="이미지" class="btnImg">
                            </a>

                        </div>

                        <div class="input-group" id="test">
                            <input id="PW" oninput="validatePassword()" placeholder=" " th:field="*{password}"
                                   type="password">
                            <label for="PW">패스워드</label>
                            <span id="validatePW"></span>
                        </div>
                        <div class="input-group">
                            <input id="checkPW" oninput="validatePassword()" placeholder=" " type="password">
                            <label for="checkPW">패스워드 확인</label>
                            <span id="finalCheckPW"></span>
                        </div>
                        <button class="button btnPush" type="submit"></button>
                        <p>
                            <span>아이디가 있으신가요?</span>
                            <b class="pointer" onclick="location.href='/member/login'">
                                로그인으로 이동
                            </b>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END SIGN UP -->
        </div>
    </form>
    <!-- END FORM SECTION -->
</div>
<script src="/js/create.js"></script>
<script>
    let pwComplete = 0;
    let nameComplete = 0;
    let emailComplete = 0;
    let nickComplete = 0;
    let phoneComplete = 0;

    $('form').submit(function () {
        if (pwComplete === 1 && nameComplete === 1 && emailComplete === 1 && nickComplete === 1 && phoneComplete === 1) {
            alert("회원가입이 완료되었습니다.");
            return true;
        } else {
            alert("제대로 입력되지 않았습니다.");
            return false;
        }
    });

    //validate check function start
    function emailCheck(str){
        var checkMail = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        return checkMail.test(str);
    }

    function combine(str) {
        var checkNumAlpha = /[a-z0-9]/;
        var checkLowercase = /[a-z]/;
        var checkNumber = /[0-9]/;
        var checkWildcard = /[!@#$%^&*]/;
        var checkLength = /^.{8,16}$/


        return checkNumAlpha.test(str) && checkLowercase.test(str) && checkNumber.test(str) && checkWildcard.test(str) && checkLength.test(str);
    }

    function checkName(str) {
        var regex = /^[가-힣]*$/;

        return regex.test(str);
    }

    function checkSpace(str) {
        var blank_pattern = /[\s]/g;

        return blank_pattern.test(str)
    }

    function checkPhone(str) {
        var pattern = /^010\d{8}$/; // 010으로 시작하는 10자리 또는 11자리 숫자 패턴 정의

        return pattern.test(str);
    }

    //validate check function end

    //validateName Start
    function validateName() {
        var name = document.getElementById("inputName");
        var validateName = document.getElementById("validateName");

        if (name.value) {
            if (!checkName(name.value)) {
                validateName.innerHTML = "<span style='color:red'>한글만 입력 가능합니다.</span>"
                name.style.border = "0.125rem solid red"
                nameComplete = 0;
            } else {
                validateName.innerHTML = "<span style='color:green'>유효한 입력입니다.</span>"
                name.style.border = "0.125rem solid #4EA685"
                nameComplete = 1;
            }
        } else {
            validateName.innerHTML = "";
            name.style.border = "0.1rem solid gray";
            nameComplete = 0;
        }
    }

    //validateName End

    //validateEmail Start
    function validateEmail() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var email = $("#email").val();
        var spanEmail = document.getElementById("validEmail");

        if (email) {
            if(emailCheck(email)) {
                $.ajax({
                    url: "/member/idChk",
                    type: "post",
                    dataType: 'json',
                    data: email,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        if (checkSpace(email)) {
                            spanEmail.innerHTML = "<span style='color:red'>잘못된 입력입니다.</span>";
                            document.getElementById("email").style.border = "0.125rem solid red";
                            emailComplete = 0;
                        } else {
                            var dupleCheck = result.usableEmail;
                            if (dupleCheck == false) {
                                spanEmail.innerHTML = "<span style='color:red'>중복 이메일입니다.</span>";
                                document.getElementById("email").style.border = "0.125rem solid red"
                                emailComplete = 0;
                            } else if (dupleCheck == true) {
                                spanEmail.innerHTML = "<span style='color:green'>사용가능한 이메일입니다.</span>";
                                document.getElementById("email").style.border = "0.125rem solid #4EA685"
                                emailComplete = 1;
                            }
                        }
                    }
                })
            }else{
                spanEmail.innerHTML = "<span style='color:red'>잘못된 이메일입니다.</span>";
                document.getElementById("email").style.border = "0.125rem solid red"
                emailComplete = 0;
            }
        } else {
            spanEmail.innerHTML = "";
            document.getElementById("email").style.border = "0.1rem solid gray";
            emailComplete = 0;
        }
    }
    //validateEmail End

    //validateNickname Start
    function validateNickname() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var nickname = $("#nickname").val();
        var spanNickname = document.getElementById("validNickname")
        var regex = /^[a-zA-Z가-힣0-9]*$/;
        var checkLength = /^.{2,8}$/

        if (nickname) {
            $.ajax({
                url: "/member/nickChk",
                type: "post",
                dataType: 'json',
                data: nickname,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    if (!regex.test(nickname)) {
                        spanNickname.innerHTML = "<span style='color:red'>영어, 한글, 숫자만 입력 가능합니다.</span>";
                        document.getElementById("nickname").style.border = "0.125rem solid red";
                        nickComplete = 0;
                    } else if(!checkLength.test(nickname)){
                        spanNickname.innerHTML = "<span style='color:red'>2글자 이상 8글자 이하까지 가능합니다.</span>";
                        document.getElementById("nickname").style.border = "0.125rem solid red";
                        nickComplete = 0;
                    } else {
                        var dupleNick = result.result;
                        if (dupleNick == false) {
                            spanNickname.innerHTML = "<span style='color:red'>중복 닉네임입니다.</span>";
                            document.getElementById("nickname").style.border = "0.125rem solid red";
                            nickComplete = 0;
                        } else if (dupleNick == true) {
                            spanNickname.innerHTML = "<span style='color:green'>사용가능한 닉네임입니다.</span>";
                            document.getElementById("nickname").style.border = "0.125rem solid #4EA685";
                            nickComplete = 1;
                        }
                    }
                }
            })
        } else {
            spanNickname.innerHTML = "";
            document.getElementById("nickname").style.border = "0.1rem solid gray";
            nickComplete = 0;
        }
    }

    //validateNickname End

    //validatePassword Start
    var PW = document.getElementById("PW");
    var validatePW = document.getElementById("validatePW");
    var checkPW = document.getElementById("checkPW");
    var finalCheckPW = document.getElementById("finalCheckPW");

    function validatePassword() {
        //Password
        if (PW.value) {
            if (!combine(PW.value)) {
                validatePW.innerHTML = "<span style='color:red'>영문,숫자,특수문자(필수) 조합 8자 이상 16자 이하</span>";
                PW.style.border = "0.125rem solid red";
            } else {
                validatePW.innerHTML = "<span style='color:green'>안전한 비밀번호입니다.</span>";
                PW.style.border = "0.125rem solid #4EA685"
            }
        } else {
            validatePW.innerHTML = "";
            PW.style.border = "0.1rem solid gray";
        }
        //Confirm Password
        if (PW.value && checkPW.value) {
            if (PW.value === checkPW.value && combine(PW.value)) {
                finalCheckPW.innerHTML = "<span style='color:green'>비밀번호가 일치합니다.</span>";
                checkPW.style.border = "0.125rem solid #4EA685"
                pwComplete = 1;
            } else if (PW.value === checkPW.value && !combine(PW.value)) {
                finalCheckPW.innerHTML = "<span style='color:red'>패스워드를 다시 확인해주세요.</span>";
                checkPW.style.border = "0.125rem solid red"
                pwComplete = 0;
            } else {
                finalCheckPW.innerHTML = "<span style='color:red'>패스워드가 일치하지 않습니다.</span>";
                checkPW.style.border = "0.125rem solid red"
                pwComplete = 0;
            }
        } else {
            finalCheckPW.innerHTML = "";
            checkPW.style.border = "0.1rem solid gray";
            pwComplete = 0;
        }
    }
    //validatePassword End

    //phone check start
    var spanPhoneNum = document.getElementById("checkPhoneNum");
    var authPhoneNum = document.getElementById("authPhoneNum");
    var phoneId = document.getElementById("phoneNum");

    $('#sendPhoneBtn').click(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var phoneNum = $('#phoneNum').val();

        if(phoneNum) {
            if (checkPhone(phoneNum)) {
                $.ajax({
                    url: "/member/phoneChk",
                    type: "post",
                    data: phoneNum,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        alert("인증번호를 발송했습니다.")
                        console.log("data : " + data);
                        spanPhoneNum.innerHTML = "";
                        phoneId.style.border = "0.125rem solid #4EA685 ";
                        authPhoneNum.style.display="block";
                        check(data);
                    }
                })
            } else {
                spanPhoneNum.innerHTML = "<span style='color:red'>잘못된 핸드폰 번호입니다.</span>";
                phoneId.style.border = "0.125rem solid red";
            }
        }else{
            spanPhoneNum.innerHTML = "";
            phoneId.style.border = "0.1rem solid gray";
        }
    })

    function check(data) {
        var checkInput = document.getElementById("checkInput");
        var phoneNum = document.getElementById("phoneNum");
        var confirmBtn = document.getElementById("confirmBtn");
        var sendPhoneBtn = document.getElementById("sendPhoneBtn");
        var checkInput = document.getElementById("checkInput");

        $('#confirmBtn').click(function () {
            if (checkInput.value == data) {
                alert("인증 되었습니다.");
                phoneComplete = 1;
                checkInput.style.border = "0.125rem solid #4EA685"
                checkInput.readOnly = true;
                phoneNum.readOnly = true;
                confirmBtn.disabled = true;
                sendPhoneBtn.disabled = true;
            } else {
                alert("인증번호를 다시 확인해주세요");
                phoneComplete = 0;
            }
        })
    }
</script>
</body>

</html>