:root {
    --primary-color: #4EA685;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}
.logo {
    position: absolute;
    top: 18px;
    left: 28px;
    z-index: 7;
    width: 258px;
    cursor: pointer;
}
.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.col {
    width: 50%;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    padding: 1rem;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) -3px 3px 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
    transform: translateY(-10%);
}

.input-group {
    position: relative;
    margin-bottom: 0.75rem;
    width: 100%;
    max-width: 28rem;
}

.input-group input {
    width: 98%;
    background: transparent;
    margin: 5px;
    padding: 24px 12px 15px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid gray;
    outline: none;
    color: black;
    font-weight: bold;
}

.input-group label {
    position: absolute;
    top: 35%;
    left: 0.5rem;
    font-size: 1rem;
    color: #888;
    transition: top 0.2s, font-size 0.2s;
    pointer-events: none;
    padding-left: 8px;
    font-weight: bold;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: 10%;
    font-size: 0.75rem;
    color: #888;
}

.form button {
    position: relative;
    width: 80%;
    transform: translateX(-1%);
    padding: 0;
    margin: 10px 25px 10px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    border: none;
}

.form button.btnPush::before {
    background: #00AE68;
    display: block;
    content: '로그인';
    font-size: large;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s;
}

.form button.btnPush:hover:before {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.form p {
    margin: 1rem 0;
    font-size: 14px;
}

.flex-col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.container.sign-in .form.sign-in {
    transform: scale(1);
}

.content-row {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;
}

.text {
    margin: 4rem;
    color: var(--white);
}

.text h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2rem 0;
    transition: 1s ease-in-out;
}

.text p {
    font-weight: 600;
    transition: 1s ease-in-out;
    transition-delay: .2s;
}

.img img {
    width: 30vw;
    transition: 1s ease-in-out;
    transition-delay: .4s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
    transform: translateX(-250%);
}

.container.sign-in .text.sign-in h2,
.container.sign-in .text.sign-in p,
.container.sign-in .img.sign-in img {

}

/* BACKGROUND */

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)), url('../../img/mainpage.svg');

    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-right-radius: max(50vw, 50vh);
    border-top-left-radius: max(50vw, 50vh);
    right: 50%;
}



/* RESPONSIVE */

@media only screen and (max-width: 425px) {

    .container::before,
    .container.sign-in::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }

    .container.sign-in .col.sign-in {

    }

    .content-row {
        align-items: flex-start !important;
    }

    .content-row .col {

    }

    .col {
        width: 100%;
        position: absolute;
        padding: 2rem;

        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

    }

    .row {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .form,
    .social-list {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .text {
        margin: 0;
    }

    .text p {
        display: none;
    }

    .text h2 {
        margin: .5rem;
        font-size: 2rem;
    }
    .containers{
        position: relative;
        min-height: 100vh;
        overflow: hidden;

    }

}