html{
    height:100%;

}

.logo-image{
    margin-top: 10px;
}

a{
    text-decoration-line: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
.ablock{
    display:block;
}
.body{
    width: 1920px;
    height: 397px;
    margin: 0px;
}

.menu{
    width: 700px;
}

.navigation_wrap{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    height: 82.05px;
}

.navigation_item{
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 2.0em;
    color:white;
    font-weight: normal;
    line-height: 20px;
    border-radius: 2px;
    font-family: 'Do Hyeon', sans-serif;
}
.navigation_item:hover{
    background-color: rgba(0, 0, 0, 0.331);
    color : black;
    transition:0.5s;
}

.nav_list{
    width: 100%;
    display : flex;
    position : relative;
    right : 100px;
    list-style-type: none;
    justify-content: space-around;
    padding:0;
}
.sub_sentence{
    color:#fff;
    font-size:20px;
    text-align:left;
    width: 300px;
}

.inter{
    font-family: 'Inter', sans-serif;
}
.doHyeon{
    font-family: 'Do Hyeon', sans-serif;
}
.main_position{
    margin: 290px 635px;
}
.main_set{
    width: 1920px;
    position: relative;
    height: 820px;
}
.main2{
    display: none;
}
.main_sentence{
    color:#fff;
    font-size:50px;
    text-align:left;
    width: 500px;
}
.emphasis{
    color:#FFD80E;
}

.ai_btn{
    background-color: #FFD80E;
    color : #FFFFFF;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    padding: 16px 35px;
    border-radius:5px;
    border : none;
}
.ai_btn:hover{
    background-color:#EB9B00;
    transition:0.5s;
}
.ai_btn:active{
    background-color:#FF5C00;
    color:#E8E8E8;
    transition:0.1s;
}

.login_btn{
    background-color: #5E4131;
    color : #FFFFFF;
    font-weight:border;
    padding: 10px 15px;
    border-radius:5px;
    text-decoration-line: none;
    height: 50%;
}

#mask{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
}

.moveToRcp1{
    display : none;
    position: absolute;
    right: 4%;
    bottom: 50%;
}

.moveToRcp2{
    display : none;
    position: absolute;
    left: 3%;
    bottom: 50%;
}
.movebtn{
    background: none;
    cursor: pointer;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border: 3px solid whitesmoke;

}
#main_outline{
    display:flex;
    flex-direction: row;
    margin-left: -8px;
}
.ref_btn{
    background:none;
    border:none;
    border-radius:55%;
    cursor:pointer;
    position : relative;
    left: 1619px;
    bottom: 40px;
    margin-top: 50px;
    z-index: 2;
}
#show_list:focus + .mypage_form{
    display:block;
}
.mypage_form:hover{
    display:block;
}
.ref_img{
    object-fit:cover;
    width: 55px;
}
.mypage_form{
    background-color: white;
    border-radius: 12px;
    right:0;
    position:absolute;
    z-index:20;
    width: 120px;
    height: 200px;
    display:none;
}
.mypage_list{
    width: 100%;
    height: 100%;
    text-align:center;
    right:0;
    position:absolute;
    z-index:20;
    margin-top: 10px;
}
.right_nav{
    display:flex;
    align-items: center;
}

.in_ref_content{

}

.in_ref_main{
    height: 810px;
    position: relative;
    width: 1920px;
}

.in_ref_div{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.8);
    margin: 1% 5% 0px;

    border-top-left-radius: 19px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 15px;
}

.flex_grow0{
    flex-grow:0.5;
}
.flex_grow1{
    flex-grow:1;
}
.flex_grow2{
    flex-grow:2;
}
.recipeTable{
    overflow: auto;
    height: 620px;
    border-top: 1px solid #b0b0b0;

}
.recipePage1{
    width: 1600px;
    height: 789px;
}


h3,h2{
    text-align:center;
}


.blog_btn{
    background-color : #575757;
    border : none;
    color: #FFFFFF;
    border-radius : 5px;
    cursor:pointer;
    font-size:15px;
    margin-right: 5px;
}
.backbtn{
    display: none;
}
.listText{
    font-family: 'Do Hyeon', sans-serif;
}


.video_btn{
    background-color : #840000;
    border : none;
    color: #FFFFFF;
    border-radius : 5px;
    cursor:pointer;
    font-size:15px;
    margin-left: 5px;
}
.checkBlog{
    display:none;
    height: 789px;

}
.checkVideo{
    display:none;
    width:100%;
    height: 789px;
}
.recipeBList{
    display: none;
}
.recipeDetails{

    display: none;
}
.recipeVList{
    display: none;
}
.backbtn{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 49%;
    margin-bottom: 1%;
}
.mainTop{
    font-size: 21px;
    margin-bottom: -40px;
    margin-top: 35px;
}
.Sfont{
    font-size:16px;
}
@media(max-width:1500px){
    .Sfont{
        font-size:10px;
    }
}

.showTube{
    display:block;
    background:none;
    border:none;
    cursor:pointer;
    border-radius:5px;
    width:300px;

}

.recipeDetail{
    display:none;
    width: 1904px;
    height: 789px;
}

#Yplayer{
    border:none;
}
#closeVideo{
    background:none;
    border:none;
    cursor:pointer;
    border-radius:5px;
    width:50px;
    height:50px;
}
.youtube_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.videoImg{
    width:300px;
    border-radius:15px;
}

#radn_recipe{
    background-color: rgba(255,255,255,0.85);
    opacity: 0.9;
    width: 1446px;
    min-height: 680px;
    max-height: 680px;
    margin: 30px 184px 0px;
    border-radius: 15px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

#radn_recipe_title{
    font-size: 1.2em;
    font-family: 'Do Hyeon', sans-serif;
}


